.container{
    overflow: initial;
    min-height: initial;
}
.discover-main-section{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: end;
    align-items: center;
}
.title{
    font-size: 1.9em;
}
.cta-section{
    grid-auto-columns: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}
.cta-img-wrapper{
    display: flex;
    
}
.cta-img-wrapper .single-img{
 display: flex;
 flex-direction:column;
 align-items: center;
 margin-right:.5rem;
 padding:.5rem;
 width:100px;
 height: 100px;
 font-size: .7em;
 
 background-color: #222;
}
.img-section img{
  max-height: 50vh;  
}