.main-section{
    flex-grow:1;
    display:flex;
    justify-content: space-between;
}
.hiro-wrapper{
 flex-grow: 1;
 display: flex;
 flex-direction:column;
 justify-content: flex-end;
 align-items: stretch;
 width:max-content;
 flex-shrink:0;
 min-width:30%;
}

.hiro-img{
    height: 100%;
    width: 100%;
    background-image: url(images/landing-page-girl.png);
    background-position: bottom left;
    background-size: contain;
    background-repeat:no-repeat;
    max-height: 80%;
    min-width: 30%;
}
.cta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:4rem;
    margin-left:1rem;
    flex-shrink:10;
}
@media(max-width:700px){
    .main-section{
        justify-content: center;
    }
    .title{
        margin-bottom:0;
        padding:0;
        line-height: 60px;
    }
    .sub-title{
        margin-top:0;
        padding:0;
        display: inline-block;
    }
    .btn{
        margin-top:2rem;
    }
    .cta{
        display: initial;
        text-align: center;
    }
    .hiro-wrapper{
        display:none;
    }
}