@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,300;1,500&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-color: #393f39;
    color:white;
    font-size:1.2rem;
    font-family: "poppins",sans-serif;
}
@media(max-width:600px){
    body{
        font-size: .7rem;
    }
}
.container{
    max-width:1000px;
    margin: 0 auto;
    padding: 0 20px;

}
.full-height-container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}













.main-header,
.main-footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.main-header{
    line-height:140px;
}
@media(max-width:600px){
    .main-header{
        line-height: 50px;
    }
}

.main-nav ul,
.main-footer nav ul{
    display:flex;
    list-style: none;
    margin:0;
    padding:0;
}
.main-nav a,
.main-footer a{
    text-decoration: none;
    color:inherit;
    margin-left:20px;
}

.main-nav a:hover,
.main-footer a:hover{
    color:#adadad;
}

.main-brand-logo{
    display: flex;
    align-items: center;
    cursor:pointer;
}
@media(max-width: 600px){
    .main-brand-logo{
       font-size: .6em;
    }
}

@media(max-width: 600px){
    img.brand-log{
      height:2em;
    }
}
.brand-logo-name{
    font-weight: 500;
    margin-left:.5em;
}










.title{
    margin: 0;
    padding:0;
    font-size: 2.5em;
    font-weight: 500;
    
}
.sub-title{
    margin: 0;
    font-size: .9em;
    font-weight: normal;
    
}
.btn{
    display: inline-block;
    color:inherit;
    text-decoration: none;
    font-size:.74em;
    padding: .50rem 1.5rem;
    background-color: #00aaff;
    border-radius:10px;
    transition: background-color 350ms ease-in-out;
}
.btn:hover{
    background-color: #069;
}
